*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    font: sans-serif;
    font-size: 20px;
 }

 /*essa aqui é a div que "pai" */
 .grid{
    display: grid;

    /*
    pode-se usar a unidade Fr (fração) -> que divide o espaço proporcinalmente entre elas
    -> pode-se usar "repeat(10, 1fr)"
    -> pode também colocar mais de umn fr para ele enteder que há mais de uma parte
    -> auto-fill - preenchimento/ajuste automatico
    */

    grid-template-columns:  repeat(auto-fill,minmax(320px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
 }

 .grid div{
    background: tomato;
    min-height: 50px;
    
 }